:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Colors-txt */
  --primary-txt-cl: #434455;
  --secondary-txt-cl: #2e2f42;

  --logo-cl-first: #4d5ae5;
  --logo-header-cl-last: #2e2f42;
  --logo-footer-cl-last: #f4f4fd;

  --cl-link-navigation: #2e2f42;
  --cl-link-address: #434455;
  --accent-cl-link: #404bbf;

  --hero-txt-color: #ffffff;

  --cl-clients-filter-btn: #4d5ae5;
  --accent-cl-clients-filter-btn: #ffffff;

  --cl-desc-footer: #f4f4fd;

  --cl-customers-list-link: #8e8f99;

  --cl-txt-social-link: #f4f4fd;

  /* Bg-colors */
  --bg-cl-bady: #ffffff;

  --bg-cl-hero: #2e2f42;
  --bg-cl-hero-btn: #4d5ae5;
  --accent-bg-cl-hero-btn: #404bbf;

  --bg-cl-section-team: #f4f4fd;
  --bg-cl-section-team-card: #ffffff;

  --bg-cl-footer: #2e2f42;

  --bg-cl-clients-filter-btn: #f4f4fd;
  --accent-bg-cl-clients-filter-btn: #404bbf;

  --bg-cl-features-icon-container: #f4f4fd;

  --bg-cl-social-list-link: #4d5ae5;
  --accent-bg-cl-social-list-link: #404bbf;

  /* Others */
  --cl-border-header: #e7e9fc;
  --box-shadow-hero-modal-btn: rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-txt-cl);
  background-color: var(--bg-cl-bady);
}

/* ============================== Components ============================== */

/* Basic styles */
.container {
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Basic styles  */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* Basic styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Basic styles */
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-cl-first);
}

/* ============================== /Components ============================== */

/* ============================== Header ============================== */

/* Basic styles */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* Basic styles */
.logo-header-color {
  color: var(--logo-header-cl-last);
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .address {
    display: none;
  }
  .mobile-menu-open-btn {
    padding: 0;
    height: 22px;
    border: none;
    background-color: transparent;
  }
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-open-btn {
    display: none;
  }
}

/* Basic styles */
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .contact-link.active {
    color: var(--accent-cl-link);
  }
}

/* Basic styles */
.header-menu-link.active {
  color: var(--accent-cl-link);
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .logo-header {
    margin-right: 120px;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .header-menu-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-menu-link::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }

  .header-menu-link.active::after {
    background-color: #404bbf;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
  .contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 0;
  }
  .header-menu-link::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}

/* Mobile styles */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Mobile styles */
.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 35px;
}

/* Mobile styles */
.mobile-menu-close-btn {
  position: absolute;
  top: 23px;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #2e2f42;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile styles */
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
}

/* Mobile styles */
.mobile-menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile styles */
.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
  fill: #ffffff;
}

/* Mobile styles */
.mobile-header-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

/* Basic styles */
.header-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--cl-link-navigation);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-cl-link);
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
}

/* Mobile styles */
.mobile-address {
  margin-bottom: 48px;
}

/* Mobile styles */
.mobile-contact-item:not(:last-child) {
  margin-bottom: 40px;
}

/* Basic styles */
.contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--cl-link-address);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-cl-link);
}

/* Mobile styles */
.contact-link-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

/* Tablet styles >=768px  */
@media only screen and (min-width: 768px) {
  .contact-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* Mobile styles */
.mobile-social-media-list {
  display: flex;
  justify-content: left;
  gap: 30px;
}

@media only screen and (min-width: 428px) {
  .mobile-social-media-list {
    gap: 56px;
  }
}

/* Mobile styles */
.mobile-social-media-item {
  width: 40px;
  height: 40px;
}

/* Mobile styles */
.mobile-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile styles */
.mobile-social-media-link:hover,
.mobile-social-media-link:focus {
  background-color: #404bbf;
}

/* Mobile styles */
.mobile-social-media-icon {
  fill: currentColor;
}

/* ============================== /Header ============================== */

/* ============================== Hero ============================== */

/* Basic styles */
.hero {
  background-color: var(--bg-cl-hero);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(..//images/hero/mobile-hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 428px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
}

/* Basic styles */
@media only screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  only screen and (min-resolution: 192dpi) and (max-width: 767px),
  only screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(..//images/hero/mobile-hero-img@2x.jpg);
  }
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(..//images/hero/tablet-hero-img.jpg);
    max-width: 768px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

/* Tablet styles >=768px */
@media only screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  only screen and (min-resolution: 192dpi) and (min-width: 768px),
  only screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(..//images/hero/tablet-hero-img@2x.jpg);
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(..//images/hero/desctop-hero-img.jpg);
    max-width: 1440px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  only screen and (min-resolution: 192dpi) and (min-width: 1158px),
  only screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(..//images/hero/desctop-hero-img@2x.jpg);
  }
}

/* Basic styles */
.hero-title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-txt-color);
  margin-bottom: 72px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

/* Basic styles */
.hero-modal-btn {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  padding-right: 30px;
  padding-bottom: 14px;
  padding-left: 30px;
  box-shadow: 0px 4px 4px var(--box-shadow-hero-modal-btn);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-txt-color);
  background-color: var(--bg-cl-hero-btn);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.hero-modal-btn:hover,
.hero-modal-btn:focus {
  background-color: var(--accent-bg-cl-hero-btn);
}

/* ============================== /Hero ============================== */

/* ============================== Features ============================== */

/* Basic styles */
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .features-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
  }
  .features-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}

/* Basic styles */
.features-icon-container {
  display: none;
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .features-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    background-color: var(--bg-cl-features-icon-container);
    margin-bottom: 8px;
  }
}

/* Basic styles */
.features-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-txt-cl);
  margin-bottom: 8px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .features-list-title {
    text-align: left;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
}

/* Basic styles */
.features-list-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .features-list-description {
    font-weight: 400;
  }
}

/* ============================== /Features ============================== */

/* ============================== Projects ============================== */

/* Basic styles */
.projects {
  display: none;
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .projects {
    display: block;
    padding-bottom: 120px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .projects-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-txt-cl);
    margin-bottom: 72px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .projects-list {
    display: flex;
    column-gap: 24px;
  }
}

/* ============================== /Projects ============================== */

/* ============================== Team ============================== */

/* Basic styles */
.team {
  background-color: var(--bg-cl-section-team);
}

/* Basic styles */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-txt-cl);
  margin-bottom: 72px;
}

/* Basic styles */
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

/* Basic styles */
.team-list-item {
  background: var(--bg-cl-section-team-card);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .team-container {
    max-width: 584px;
  }
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}

/* Desctop styles >=1158px  */
@media only screen and (min-width: 1158px) {
  .team-container {
    max-width: 1158px;
  }
}

/* Basic styles */
.card-team-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Basic styles */
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-txt-cl);
  margin-bottom: 8px;
}

/* Basic styles */
.team-list-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* Basic styles */
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* Basic styles */
.social-list-item {
  width: 40px;
  height: 40px;
}

/* Basic styles */
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--cl-txt-social-link);
  border-radius: 50%;
  background-color: var(--bg-cl-social-list-link);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-bg-cl-social-list-link);
}

/* Basic styles */
.social-list-icon {
  fill: currentColor;
}

/* ============================== /Team ============================== */

/* ============================== Customers ============================== */

/* Basic styles */
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-txt-cl);
  margin-bottom: 72px;
}

/* Basic styles */
.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

/* Basic styles */
.customers-list-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .customers-container {
    max-width: 584px;
  }
  .customers-list {
    column-gap: 24px;
  }
  .customers-list-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .customers-container {
    max-width: 1158px;
  }
  .customers-list-item {
    flex-basis: calc((100% - 24px * 5) / 6);
  }
}

/* Basic styles */
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--cl-customers-list-link);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/* Basic styles */
.customers-list-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.customers-list-link:hover .customers-list-icon,
.customers-list-lin:focus .customers-list-icon {
  fill: #404bbf;
}

/* ============================== /Customers ============================== */

/* ============================== Portfolio clients ============================== */

/* Basic styles */
.clients {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .clients {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .clients {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

/* Basic styles */
.clients-filter-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .clients-filter-list {
    justify-content: center;
    margin-bottom: 64px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .clients-filter-list {
    margin-bottom: 72px;
  }
}

/* Basic styles */
.clients-filter-btn {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--bg-cl-clients-filter-btn);
  color: var(--cl-clients-filter-btn);
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.clients-filter-btn:hover,
.clients-filter-btn:focus {
  background-color: var(--accent-bg-cl-clients-filter-btn);
  color: var(--accent-cl-clients-filter-btn);
  /* border: 1px solid transparent; */
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Basic styles */
.client-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .client-list {
    justify-content: left;
    row-gap: 72px;
    column-gap: 24px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .client-list {
    row-gap: 48px;
  }
}
/* Basic styles */
.client-list-img {
  width: 100%;
  height: 100%;
}

/* Basic styles */
.client-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}

/* Basic styles */
.client-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
}

/* Basic styles */
.clients-card-content {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Basic styles */
.client-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.client-list-link:hover,
.client-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.client-list-overlay {
  position: relative;
  overflow: hidden;
}

.client-list-link .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover .overlay,
.client-list-link:focus .overlay {
  transform: translate(0, 0);
}

/* ============================== /Portfolio clients ============================== */

/* ============================== Footer ============================== */

/* Basic styles */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--bg-cl-footer);
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* Basic styles */
.logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .logo-footer {
    display: flex;
    justify-content: left;
  }
}

/* Basic styles */
.logo-footer-color {
  color: var(--logo-footer-cl-last);
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .footer-info {
    margin-right: 120px;
  }
}

/* Basic styles */
.footer-description {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-desc-footer);
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .social-media {
    margin-right: auto;
  }
}

/* Basic styles */
.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .social-media-title {
    text-align: left;
  }
}

/* Basic styles */
.social-media-list {
  display: flex;
  gap: 16px;
}

/* Basic styles */
.social-meadia-item {
  width: 40px;
  height: 40px;
}

/* Basic styles */
.social-media-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #f4f4fd;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

/* Basic styles */
.social-media-icon {
  fill: currentColor;
}

/* Basic styles */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-container {
    justify-content: left;
    column-gap: 24px;
    max-width: 584px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    column-gap: 0;
    padding-left: 15px;
    max-width: 1158px;
  }
}

/* Basic styles */
.footer-form-wrapper {
  width: 100%;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-form-wrapper {
    width: auto;
  }
}
/* Basic styles */
.footer-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-form-description {
    text-align: left;
  }
}

/* Basic styles  */
.footer-form-input {
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .footer-form-input {
    width: 264px;
  }
}

/* Basic styles */
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* Basic styles */
.footer-form-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-replace: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Basic styles */
.footer-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-form {
    column-gap: 24px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

/* ============================== /Footer ============================== */

/* ============================== Modal window ============================== */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

/* Mobile styles */
@media only screen and (max-width: 427px) {
  .modal {
    width: 90%;
  }
}

/* Mobile styles */
@media only screen and (min-width: 428px) and (max-width: 767px) {
  .modal {
    width: 392px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

/* ============================== /Modal window ============================== */

/* ============================== Modal form ============================== */

.modal-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field-textarea {
  margin-bottom: 16px;
}

.modal-form-input-description {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.12;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-form-message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-check-description {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.12;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}

.modal-form-check-description::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-description::before {
  background-color: #404bbf;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='%23F4F4FD;' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-check:focus + .modal-form-check-description::before {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-form-link-policy {
  color: #4d5ae5;
}

.modal-form-submit {
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
}

/* ============================== /Modal form ============================== */
